<h2>Express Message 登入失敗通知</h2>
<p><%= @resource.name%> 先生/小姐 您好：</p>
<p>您於 <%=@resource.updated_at.strftime('%Y/%m/%d %H:%M:%S')%> 嘗試登入 Express Message 失敗，請您留意登入時間是否正常，如非您本人操作，請留意不要洩漏您的密碼！</p>
<p></p>
<font color="gray">此為系統自動發送之信件，請勿直接回覆，感謝您的合作。 如有任何疑慮請洽管理員 <a href="mailto:yoyo102102102@gmail.com">yoyo102102102@gmail.com</a> </font>
