<!DOCTYPE html>
<html>
<head>
    <title>ExpressMessage</title>
    <style>
        body {
            background-color: var(--blue-blue-50, #E6F0F5);
        }
    </style>
</head>
<body>
    <p><%= @message%></p>
    <p>ExpressMessage管理員：<a href="mailto:yoyo102102102@gmail.com">yoyo102102102@gmail.com</a></p>
</body>
</html>