<h2>Express Message 啟用帳號確認信</h2>
<p><%= @resource.name%> 先生/小姐 您好：</p>
<p>歡迎您使用 Express Message ，請點擊以下連結來啟用您的帳號：</p>
<p><%= link_to '啟用帳號', confirmation_url(@resource, confirmation_token: @token) %></p>
<font color="gray">此為系統自動發送之信件，請勿直接回覆，感謝您的合作。 如有任何疑慮請洽管理員 <a href="mailto:yoyo102102102@gmail.com">yoyo102102102@gmail.com</a> </font>
