<h2>Express Message 重設密碼通知信</h2>
<p><%= @resource.name%> 先生/小姐 您好：</p>
<p>這是您於 <%=@resource.updated_at.strftime('%Y/%m/%d %H:%M:%S')%> 申請的忘記密碼重設作業通知信，若不是您本人申請，請忽略這封郵件，您的使用者密碼在您點擊下方連結，並完成設定密碼流程前將不會進行變更。</p>
<p><%= link_to '重設密碼', edit_password_url(@resource, reset_password_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url'].to_s).html_safe %></p>
<font color="gray">此為系統自動發送之信件，請勿直接回覆，感謝您的合作。 如有任何疑慮請洽管理員 <a href="mailto:yoyo102102102@gmail.com">yoyo102102102@gmail.com</a> </font>
